{% extends 'base.html' %}

{% block title %} Home
{% endblock title %}

{% block body %}

<div class="container-fluid px-0"><div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/icecreams1.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/ice2.jfif" class="d-block w-100" alt="...">
      <!-- <div><h5>Welcome</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div> -->
      
    </div>
    <div class="carousel-item">
      <img src="/static/ice3.jfif" class="d-block w-100" alt="...">
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div></div>



<!-- ######################## -->

<div class="album py-0 bg-body-tertiary my-3">
  <h1 class="my-2 text-center ">Select from the range of IceCream </h1>
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/thumb1.jfif" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Made with milk, cream, sugar, and flavorings, churned while freezing to create a smooth texture.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>Traditional Ice Cream</p>
                
              </div>
              <small class="text-body-secondary">2 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/thumb3.jfif" class="d-block w-100" alt="...">
          
          <div class="card-body">
            <p class="card-text">An Italian version of ice cream, made with more milk and less cream than traditional ice cream. It has a denser texture and is served at a slightly warmer temperature<p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p> Gelato Ice Cream</p>

              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/thumb9.jfif" class="d-block w-100" alt="...">
          
          <div class="card-body">
            <p class="card-text">A dairy-free frozen dessert made with fruit purée, sugar, and water. It's often refreshing and lighter than ice cream.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>Sorbet Ice Cream</p>

              </div>
              <small class="text-body-secondary">11 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/thumb4.jfif" class="d-block w-100" alt="...">
         
          <div class="card-body">
            <p class="card-text">Made with yogurt instead of cream, giving it a tangy flavor and generally lower fat content. It’s often seen as a healthier alternative to ice cream.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>Frozen Yogurt Ice Cream</p>

              </div>
              <small class="text-body-secondary">5 hr</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/thumb5.jfif" class="d-block w-100" alt="...">
          
          <div class="card-body">
            <p class="card-text">Dairy-free ice cream made from plant-based milks such as almond, coconut, or soy. It's designed for those avoiding animal products.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>Vegan Ice Cream</p>

              </div>
              <small class="text-body-secondary">9 hr</small>
            </div>
          </div>
        </div>
      </div>
  
      
    </div>
  </div>
</div>
{% endblock body %}